---
import { KeySwitchSection } from '@/components/KeySwitchSection';
import BaseLayout from '../layouts/BaseLayout.astro';
import { setCache } from '../utils/cache';
import { PageTitle } from '@/components/PageTitle';

const title = 'Switches';
const ip = Astro.clientAddress;

setCache.short(Astro);
---

<BaseLayout title={title}>
  <div class="flex max-w-screen-xl flex-col gap-6">
    <PageTitle titleText="All switches" client:load />
    <div class="flex flex-col gap-6">
      <KeySwitchSection buyerIP={ip} client:load />
    </div>
  </div>
</BaseLayout>
