---
import { getProductFilters, getProducts } from './../utils/shopify';
import BaseLayout from '../layouts/BaseLayout.astro';
import { setCache } from '../utils/cache';
import { KeySwitchSection } from '@/components/KeySwitchSection';

const title = 'Switches';
const headers = Astro.request.headers;
const ip = headers.get('x-vercel-forwarded-for') || Astro.clientAddress;
const products = await getProducts({ limit: 250, buyerIP: ip });
const filters = await getProductFilters({ buyerIP: ip });

setCache.short(Astro);
---

<BaseLayout title={title}>
  <div class="flex justify-center">
    <div class="flex max-w-screen-xl flex-col gap-16">
      <h1 class="ms-[-5px] mt-[-5px] text-8xl font-bold">All switches</h1>
      <div class="flex flex-col gap-6">
        <KeySwitchSection filters={filters} products={products} buyerIP={ip} client:load />
      </div>
    </div>
  </div>
</BaseLayout>
