---
import { Picture } from 'astro:assets';
import switchDiagonal from '../assets/switch-diagonal.png';
---

<div class="absolute right-[-25%] bottom-[-40%] -z-10 select-none">
  <Picture
    src={switchDiagonal}
    alt="outline render of a key switch"
    class="opacity-25"
    width="1200"
    height="1200"
  />
</div>
