---
import SomeFilter from '@/components/some-filter';
---

<div class="flex flex-wrap gap-7">
  <div class="w-[250px]">
    <SomeFilter client:load />
  </div>

  <div class="w-[250px]">
    <SomeFilter client:load />
  </div>

  <div class="w-[250px]">
    <SomeFilter client:load />
  </div>
</div>
