---
import Logo from "./Logo.astro";
import CartIcon from "./CartIcon.svelte";
---

<header class="sticky top-0 z-40">
  <div class="bg-secondary-default/30 py-3 backdrop-blur-2xl">
    <nav class="mx-10 grid grid-cols-3 items-center">
      <a href="/">
        <span class="sr-only">Logo</span>
        <Logo />
      </a>
      <ul class="flex justify-center gap-6">
        <li>All products</li>
        <li>Switches</li>
        <li>About</li>
      </ul>
      <div class="justify-self-end">
        <CartIcon client:load />
      </div>
    </nav>
  </div>
</header>
