---
import Logo from './Logo.astro';
import CartIcon from './CartIcon.svelte';
---

<header class="sticky top-0 z-40">
  <div class="h-4 bg-black"></div>
  <nav class="grid grid-cols-3 gap-4">
    <div
      class="text-eggwhite col-start-2 flex justify-self-center rounded-b-lg bg-black px-12 py-4 font-medium"
    >
      tastaturwerk schaffhausen
    </div>
    <ul class="col-start-3 my-4 me-16 flex gap-16 justify-self-end font-medium">
      <li>[b]asket</li>
      <li>[o]rder</li>
    </ul>
  </nav>
</header>
