---

---

<header class="sticky top-0 z-40 backdrop-blur-sm">
  <div class="bg-primary grid h-8 grid-cols-3 items-center justify-between px-4 shadow-md">
    <div></div>
    <small class="text-primary-foreground justify-self-center leading-8 font-bold">tastaturwerk schaffhausen :]</small>
    <div class="flex gap-2 justify-self-end">
      <div class="bg-warn h-4 w-4 rounded-xs"></div>
      <div class="bg-success h-4 w-4 rounded-xs"></div>
      <div class="bg-error h-4 w-4 rounded-xs"></div>
    </div>
  </div>
  <nav class="grid grid-cols-3 gap-4">
    <ul class="col-start-3 my-5 me-20 flex h-[40px] gap-2 justify-self-end text-sm font-medium"></ul>
  </nav>
</header>
