---
import { z } from 'zod';
import { ProductResult } from '../utils/schemas';
import ShopifyImage from './ShopifyImage.svelte';

interface Props {
  product: z.infer<typeof ProductResult>;
}

const { product } = Astro.props as Props;
const variant = product!.variants.nodes[0];
const price = new Intl.NumberFormat('de-CH', {
  style: 'currency',
  currency: variant.price.currencyCode,
}).format(Number(variant.price.amount));
---

<a
  href={`/switches/${product!.handle}`}
  class="flex h-[155px] w-[100px] flex-col rounded-md p-2 font-bold backdrop-blur-sm transition-colors hover:bg-black/80 hover:font-semibold hover:text-white"
  tabindex="0"
  role="button"
>
  <ShopifyImage
    classList="z-10 overflow-hidden object-cover flex-none"
    loading="eager"
    image={product!.images.nodes[0]}
    sizes={`100px`}
  />
  <div class="ms-1 flex flex-1 flex-col justify-between">
    <span class="max-h-[30px] overflow-hidden text-xs">{product!.title}</span>
    <div class="flex gap-1">
      <div
        class:list={[
          'h-2',
          'w-2',
          'rounded-full',
          'self-center',
          { 'bg-green-700': variant.availableForSale, 'bg-red-700': !variant.availableForSale },
        ]}
      >
      </div>
      <span class="text-xs">{price}</span>
    </div>
  </div>
</a>
