---
import { z } from 'zod';
import { ProductResult } from '../utils/schemas';
import KeySwitchItem from './KeySwitchItem.astro';

const ProductsResult = z.array(ProductResult);
export interface Props {
  products: z.infer<typeof ProductsResult>;
}

let { products } = Astro.props as Props;
products = [...products, ...products];
---

<section class="flex flex-wrap gap-3 overflow-auto pt-4 pb-4">
  {products.map((product) => <KeySwitchItem product={product} />)}
</section>
