---
import SideNavRouteItem from './SideNavRouteItem.astro';
import { routes } from '../utils/routes';
import { SearchSection } from './SearchSection';

const { url } = Astro.request;
const buyerIP = Astro.clientAddress;
const currentRoute = new URL(url).pathname;
---

<nav class="sticky top-[128px] ms-8 max-h-[calc(100svh-128px)] overflow-y-auto">
  <ul class="flex flex-col gap-5 text-sm font-bold">
    <div class="flex flex-col gap-5">
      {routes.map((route) => <SideNavRouteItem route={route} currentRoute={currentRoute} />)}
    </div>
    <SearchSection buyerIP={buyerIP} client:idle />
  </ul>
</nav>
