---
import { getProducts } from '../../utils/shopify';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Products from '../../components/Products.astro';
import { setCache } from '../../utils/cache';
import KeySwitchItemList from '../../components/KeySwitchItemList.astro';
import Filters from '../../components/Filters.astro';
import PageTitle from '../../components/PageTitle.astro';

const title = 'Key switches';
const headers = Astro.request.headers;
const ip = headers.get('x-vercel-forwarded-for') || Astro.clientAddress;
const products = await getProducts({ limit: 250, buyerIP: ip });

setCache.short(Astro);
---

<BaseLayout title={title}>
  <div class="flex justify-center">
    <div class="flex max-w-screen-xl flex-col gap-16">
      <PageTitle text="Hall effect switches" />
      <div class="flex flex-col gap-6">
        <Filters />
        <KeySwitchItemList products={products} />
      </div>
    </div>
  </div>
</BaseLayout>
