---
import { KeySwitchItemList } from '@/components/KeySwitchItemList';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { setCache } from '../../utils/cache';
import { FiltersSection } from '@/components/FiltersSection';

const title = 'Low profile switches';
const headers = Astro.request.headers;
const ip = headers.get('x-vercel-forwarded-for') || Astro.clientAddress;

setCache.short(Astro);
---

<BaseLayout title={title}>
  <div class="flex justify-center">
    <div class="flex max-w-screen-xl flex-col gap-16">
      <h1 class="ms-[-5px] mt-[-5px] text-8xl font-bold">Low profile switches</h1>
      <div class="flex flex-col gap-6">
        <FiltersSection buyerIP={ip} />
        <KeySwitchItemList buyerIP={ip} />
      </div>
    </div>
  </div>
</BaseLayout>
