---
import Header from '../components/Header.astro';
import Cart from '../components/Cart.svelte';
import '../styles/global.css';
import SideNav from '../components/SideNav.astro';
import '@fontsource-variable/ubuntu-sans';
import '@fontsource-variable/ubuntu-sans-mono';

export interface Props {
  title: string;
  description?: string;
}

const defaultDesc = 'A lightweight and minimalit Astro starter theme using Shopify with Svelte, Tailwind, and TypeScript.';

const { title, description = defaultDesc } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="bg-eggwhite">
    <Header />
    <div class="grid grid-cols-6 gap-5 xl:grid-cols-10 xl:gap-8">
      <div class="xl:col-span-2">
        <SideNav />
      </div>
      <main class="col-span-4 xl:col-span-6">
        <slot />
      </main>
      <aside></aside>
    </div>
    <Cart client:visible />
    <!-- <Background /> -->
  </body>
</html>
