---
import BaseLayout from './BaseLayout.astro';

export interface Props {
  title?: string;
  message?: string;
}

Astro.response.status = 404;

const defaultTitle = 'Page not found';

const { title = defaultTitle, message = defaultTitle } = Astro.props as Props;
---

<BaseLayout title={title}>
  <div class="container grid justify-center py-44 text-center">
    <span class="text-6xl text-emerald-900 font-bold">404</span>
    <h1 class="text-xl mt-4">{message}</h1>
    <a href="/" class="text-emerald-900 hover:text-emerald-700 mt-6 font-semibold">
      Go back home
      <span aria-hidden="true"> &rarr;</span>
    </a>
  </div>
</BaseLayout>
