---
import ASCIIText from '@/components/TextAnimations/ASCIIText/ASCIIText';
import BaseLayout from './BaseLayout.astro';

export interface Props {
  title?: string;
  message?: string;
}

Astro.response.status = 404;

const defaultTitle = 'Page not found 😞';

const { title = defaultTitle, message = defaultTitle } = Astro.props as Props;
---

<BaseLayout title={title}>
  <div class="container grid w-full justify-center text-center">
    <div class="relative max-h-[450px] min-h-[450px] min-w-[400px]">
      <ASCIIText text="404" enableWaves={true} asciiFontSize={4} textColor="#403c35" textFontSize={400} client:load />
    </div>
    <div class="text-primary flex translate-y-[-70px] flex-col items-center font-mono">
      <h1 class="font-mono text-xl">{message}</h1>
      <a href="/" class="font-bold">
        <span aria-hidden="true">←</span>
        Go back home
      </a>
    </div>
  </div>
</BaseLayout>
